images/train/class2
images/test/class2

# macOS system files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# keep the pdfs in paper_example but exclude all subfolders
paper_example/**
!paper_example/*.pdf